@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Lucida Console";
    background: #A0D8DC;
}

main {
    width: 100vw
}

.container,
.feedbackContainer,
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    position: absolute;
    bottom: 20%;
    left: 10%;
    width: 80%;
    height: 60%;
    background: white;
    border-radius: 10px
}

fieldset, .feedbackContainer {
    border: rgb(192,192,192,0.1) 1px solid;
    height: 460px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
    background: white;
}


input[type = "text"],
input[type = "password"],
input[type = "tel"],
input[type = "email"],
input[type = "url"] {
    width: 200px;
    margin-top: 8px;
    margin: 20px 40px;
    padding: 2px 6px;
    border: none;
    border-radius: 10px;
    background-color: #f7f7f7;
    height: 40px;
    outline-color: #6dbec3; /*buttons color*/
    font-size: 1rem;
    position: relative;
}


.rectangle-1 {
    box-sizing: border-box;
    height: 54px;
    width: 222px;
    border-radius: 8px;
    background-color: #A0D8DC;
    height: 40px;
    width: 196px;
    color: #FFF;
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}


button:first-of-type, button {
    margin: 30px 120px 10px 120px;
    border: 1px solid #A0D8DC
}

button {
    background-color: white;
}

    button:first-of-type {
        background-color: #A0D8DC;
        color: white;
    }

.clear {
    clear: both
}

button:hover {
    background-color: #2196f3;
    color: white;
    cursor: pointer
}

button {
    margin-right: 5px
}

.container div {
    margin: 10px 40px;
    position: relative
}

img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block
}

.signup-container div:first-of-type {
    width: 340px;
    margin-top: 50px;
}

label {
    position: absolute;
    top: 56%;
    left: 6px;
    color: #505050
}

.focused-field {
    animation-name: gainFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes gainFocus {
    0% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }

    100% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
}

.unfocused-field {
    animation-name: loseFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes loseFocus {
    0% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }

    100% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
}

.initial-focused-field {
    top: 0%;
    left: 0px;
    color: #2196f3;
    font-size: 0.9rem
}

.initial-unfocused-field {
    top: 56%;
    left: 6px;
    color: #505050;
    font-size: 1rem
}

.feedbackContainer {
    height: 300px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: none
}

.feedbackIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.failure .feedbackIcon {
    background-image: url('../img/failure.svg');
}

.feedbackMessage {
    text-align: center;
    line-height: 1.6rem
}
