<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Car</title>
    <link rel="stylesheet" href="./style/cars.css">
    <link rel="stylesheet" href="./style/mainmenu.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
</head>
<body>
    <a class="next disabled" id="next" onclick="submit()">
        <small style="vertical-align:top;">Continue </small>
        <i class="fa fa-angle-right" id="arrow"></i>
    </a>
    <div class="pageName">CURRENT CAR</div>
    <div id="carDiv" class="carsContainer"></div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>


    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyCsxp_cLGjtePSDKH95MtD5XKg-iLXE8j4",
            authDomain: "auth-c0cb3.firebaseapp.com",
            databaseURL: "https://auth-c0cb3.firebaseio.com",
            projectId: "auth-c0cb3",
            storageBucket: "auth-c0cb3.appspot.com",
            messagingSenderId: "1034981325790",
            appId: "1:1034981325790:web:d5b3913ec1bd9c0137fb4f",
            measurementId: "G-1GCV52KFRG"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>
    <script src="./js/carSelect.js"></script>

</body>
</html>