<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Account</title>
    <link rel="stylesheet" href="./style/account.css">
    <link rel="stylesheet" href="./style/mainmenu.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
</head>
<body style="background-color:white;">
    <a href="../account" class="back">
        <i class="fa fa-angle-left" style="color:black;"></i>
        <small style="vertical-align:top; padding-top:5px;"> Back</small>
    </a>
    <div class="pageName">EDIT ACCOUNT</div>
    <div style="width:30%; margin:auto;"><img src="./img/edit.svg" ></div>

    <div class="accountMenu">
        <a id="editName">
            <table>
                <tr>
                    <td style="width:80px;">Name</td>
                    <td id="name" class="accountMenuText"></td>
                </tr>
            </table>
            <i class="fas fa-chevron-right" style="color:darkgray; font-size:0.8em; position: absolute;padding-top: 11px;"></i>
        </a><hr />
        <a id="editEmail">
            <table>
                <tr>
                    <td style="width:80px;">Email</td>
                    <td id="email" class="accountMenuText"></td>
                </tr>
            </table>
            <i class="fas fa-chevron-right" style="color:darkgray; font-size:0.8em; position: absolute;padding-top: 11px;"></i>
        </a><hr />
        <a id="changePassword">
            <table>
                <tr>
                    <td style="width:80px;">Password</td>
                </tr>
            </table>
            <i class="fas fa-chevron-right" style="color:darkgray; font-size:0.8em; position: absolute;padding-top: 11px;"></i>
        </a><hr />
    </div>

    <div id="dimContent" class="dimContent"></div>

    <div id="windowPromptName" class="windowPrompt">
        <p>Name</p>
        <input type="text" id="nameInput">
        <button class="cancel" onclick="cancel()">cancel</button>
        <button onclick="editName()">ok</button>
    </div>



    <div id="windowPromptEmail" class="windowPrompt">
        <p>Email</p>
        <input type="text" id="emailInput">
        <button class="cancel" onclick="cancel()">cancel</button>
        <button onclick="editEmail()">ok</button>
    </div>

    <div id="windowPromptEmailConfirm" class="windowPrompt">
        <p>Input your password to continue</p>
        <input type="password" id="emailConfirmInput">
        <button class="cancel" onclick="cancel()">cancel</button>
        <button onclick="editEmailConfirm()">ok</button>
    </div>



    <div id="windowPromptPassword" class="windowPrompt">
        <p>Current password</p>
        <input type="password" id="currentPasswordInput">
        <button class="cancel" onclick="cancel()">cancel</button>
        <button onclick="authenticateUser()">ok</button>
    </div>

    <div id="windowPromptNewPassword" class="windowPrompt">
        <p>New password</p>
        <input type="password" id="newPasswordInput">
        <button class="cancel" onclick="cancel()">cancel</button>
        <button onclick="updatePassword()">ok</button>
    </div>
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>


    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyCsxp_cLGjtePSDKH95MtD5XKg-iLXE8j4",
            authDomain: "auth-c0cb3.firebaseapp.com",
            databaseURL: "https://auth-c0cb3.firebaseio.com",
            projectId: "auth-c0cb3",
            storageBucket: "auth-c0cb3.appspot.com",
            messagingSenderId: "1034981325790",
            appId: "1:1034981325790:web:d5b3913ec1bd9c0137fb4f",
            measurementId: "G-1GCV52KFRG"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

    <script>

        // JavaScript source code
        var name, email;

        firebase.auth().onAuthStateChanged(async function (user) {
            if (user) { //if user is authenticated
                var user = firebase.auth().currentUser; //current user
                name = user.displayName; //user's name
                email = user.email; //user's email address

                //display user information
                document.getElementById("name").innerHTML = name;
                document.getElementById("email").innerHTML = email;

            } else window.location.assign('../mainpage'); //forward user to the welcome page
        });

        //when any window prompt's cancel button is clicked
        function cancel() {
            var prompts = document.getElementsByClassName("windowPrompt"); //gete all window prompts
            for (var i = 0; i < prompts.length; i++) prompts[i].style.display = 'none'; //hide all window prompts
            document.getElementById("dimContent").classList.remove("dimVisible"); //brighten screen
        }



        ////edit name

        //name section is clicked, user wants to edit their name
        document.getElementById("editName").addEventListener("click", function () {
            document.getElementById("nameInput").value = name; //autofill name field

            //dim screen and show window prompt (id='windowPromptName')
            document.getElementById("dimContent").classList.add("dimVisible");
            setTimeout(function () { document.getElementById("windowPromptName").style.display = "block"; }, 250);
        });

        //user clicked 'ok' after editing name. save name changes
        function editName() {
            let newName = document.getElementById("nameInput").value; //get edited name
            if (newName != null && newName != '') { //name field is not empty, save changes
                firebase.auth().currentUser.updateProfile({
                    displayName: newName
                }).then(function () {
                    name = newName;
                    document.getElementById("name").innerHTML = newName; //update info shown on page
                    cancel(); //hide window prompt
                });
            } else if (newName == name) cancel(); //user didn't make any changes. hide window prompt
        }



        //// edit email address

        //email section is clicked, user wants to edit their email address
        document.getElementById("editEmail").addEventListener("click", function () {
            document.getElementById("emailInput").value = email; //autofill email field

            //dim screen and show window prompt with id='windowPromptEmail'
            document.getElementById("dimContent").classList.add("dimVisible");
            setTimeout(function () { document.getElementById("windowPromptEmail").style.display = "block"; }, 250);
        });

        //user clicked 'ok' after editing their email
        function editEmail() {
            let newEmail = document.getElementById("emailInput").value; //get new email address
            if (newEmail != null && newEmail != '') { //field is not empty, authenticate user
                //hide email window prompt
                document.getElementById("windowPromptEmail").style.display = "none"; 

                //show password window prompt with id='windowPromptEmailConfirm'
                document.getElementById("emailConfirmInput").value = '';
                document.getElementById("windowPromptEmailConfirm").style.display = "block";

            } else if (newEmail == email) cancel(); //user didn't make any changes. hide window prompt
        }

        //user clicked 'ok' after inputting their password. authenticate the user then save email changes
        function editEmailConfirm() {
            let password = document.getElementById("emailConfirmInput").value; //get password
            let newEmail = document.getElementById("emailInput").value; //get new email address

            //authenticate user and save changes
            firebase.auth().signInWithEmailAndPassword(email, password).then(() => { //user is authenticated (password is correct)
                firebase.auth().currentUser.updateEmail(newEmail).then(function () { //update email address
                    email = newEmail;
                    document.getElementById("email").innerHTML = newEmail; //update info shown on page
                    cancel(); //hide window prompt
                });
            }).catch(error => { //error authenticating the user
                cancel(); //hide window prompt
                console.error(error);
            })
        }





        //change password

        //password section is clicked, user wants to change their password
        document.getElementById("changePassword").addEventListener("click", function () {
            document.getElementById("currentPasswordInput").value = ''; //clear password input field

            //dim screen and show window prompt with id='windowPromptPassword'
            document.getElementById("dimContent").classList.add("dimVisible");
            setTimeout(function () { document.getElementById("windowPromptPassword").style.display = "block"; }, 250);
        });

        //user clicked 'ok' after inputting their current password
        function authenticateUser() {
            let password = document.getElementById("currentPasswordInput").value;
            if (password != null && password != '') { //password field is not empty
                //authenticate user then ask for new password
                firebase.auth().signInWithEmailAndPassword(email, password).then(() => { //user is authenticated (password is correct)
                    document.getElementById("windowPromptPassword").style.display = "none"; //hide window prompt

                    //show new password's window prompt with id='windowPromptNewPassword'
                    document.getElementById("newPasswordInput").value = ''; //clear password field
                    document.getElementById("windowPromptNewPassword").style.display = "block"; //show window prompt
                }).catch(error => { //error authenticating the user
                    console.error(error);
                })
            }
        }

        //user clicked 'ok' after inputting a new password
        function updatePassword() {
            let newPassword = document.getElementById("newPasswordInput").value; //get new password

            if (newPassword != null && newPassword != '') { //field is not empty, save changes
                firebase.auth().currentUser.updatePassword(newPassword).then(function () {
                    location.reload(); //reload page
                });
            }
        }

    </script>

</body>
</html>