<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="./style/mainpage.css">


    <title></title>
</head>
<body>
    <img class="pasted-image" src="./img/businessman-using-ride-hailing-app-to-order-businessman-using-ride-hailing-app-to-order-car-his-mobile-phone-showing-166785191.jpg">

    <p class="your-vehicle-to-vehicle-chargi">

        Your Vehicle-to-Vehicle Charging Experience Starts Here !
    </p>
    <form action="/signup.html">
        <input class="rectangle-1" type="button" id="signup" value="Get Started !">
    </form>

    <table>
        <tr>
            <td>
                <p class="already-have-an-account-log-in">
                    Already Have an Account?
                </p>
            </td>
            <td>
                <a href="../signin" id="signin"> Sign In</a>
            </td>

        </tr>
    </table>


    <script>
        document.getElementById("signup").addEventListener("click", function () {
            window.location.replace('../signup');
        });




    </script>


</body>
</html>