<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="stylesheet" href="./style/mainmenu.css">
    <link rel="stylesheet" href="./style/settings.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
</head>
<body style="background-color:white;">
    <a href="../account" class="back">
        <i class="fa fa-angle-left" style="color:black;"></i>
        <small style="vertical-align:top; padding-top:5px;"> Back</small>
    </a>
    <div class="pageName">SETTINGS</div>

    <div class="settingsMenu">
        <table>
            <tr>
                <td style="width:100%;">Notifications</td>
                <td><label class="switch"><input type="checkbox" id="notifications"><span class="slider"></span></label></td>
            </tr>
        </table>
        <hr />
        <table>
            <tr>
                <td style="width:100%;">Location Access</td>
                <td><label class="switch"><input type="checkbox" id="location"><span class="slider"></span></label></td>
            </tr>
        </table>
        <hr />
        <button id="deleteAccount" class="deleteAccount">Delete Account</button>
    </div>


    <div class="mainMenu">
        <table>
            <tr>
                <td><button class="circle" id="status" onclick="openStatusMenu()"></button></td>
                <td><button class="circle" id="home"><img src="./img/home.png" height="30"></button></td>
                <td><button class="circle active" id="account"><img src="./img/account.png" height="30"></button></td>
            </tr>
            <tr>
                <td><small>STATUS</small></td>
                <td><small>HOME</small></td>
                <td><small><b>ACCOUNT</b></small></td>
            </tr>
        </table>
    </div>

    <div id="statusMenu" class="statusMenu tail">
        <a onclick="setStatus('Available')"><button class="statusCircle"><img src="./img/status-available.png" height="15px"></button>Available</a>
        <hr />
        <a onclick="setStatus('Do Not Disturb')"><button class="statusCircle" style="background-color:#DD5F56;"><img src="./img/status-busy.png" height="15px"></button>Busy</a>
    </div>

    <div id="dimContent" class="dimContent" onclick="closeStatusMenu()"></div>

    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>


    <script>
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        var firebaseConfig = {
            apiKey: "AIzaSyCsxp_cLGjtePSDKH95MtD5XKg-iLXE8j4",
            authDomain: "auth-c0cb3.firebaseapp.com",
            databaseURL: "https://auth-c0cb3.firebaseio.com",
            projectId: "auth-c0cb3",
            storageBucket: "auth-c0cb3.appspot.com",
            messagingSenderId: "1034981325790",
            appId: "1:1034981325790:web:d5b3913ec1bd9c0137fb4f",
            measurementId: "G-1GCV52KFRG"
        };
        // Initialize Firebase
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();
    </script>

    <script src="./js/status.js"></script>

    <script>
        // JavaScript source code
        document.getElementById("home").addEventListener('click', () => { //forward user to main page
            window.location.assign('../profile');
        });

        document.getElementById("account").addEventListener('click', () => { //forward user to account page
            window.location.assign('../account');
        });

        firebase.auth().onAuthStateChanged(async function (user) {
            if (user) { //if user is authenticated
                updateSettings(); //check if user changed the browser's settings
                displaySettings(); //display settings
            } else window.location.assign('../mainpage'); //forward user to the welcome page
        });

        //function to check if user changed the browser's settings
        function updateSettings() {
            //check if the user changed the notifications permission from the browser
            if (Notification.permission === 'denied' || Notification.permission === 'default') localStorage.setItem('notificationsPermission', 'denied');
            else if (localStorage.getItem('notificationsPermission') == null) localStorage.setItem('notificationsPermission', Notification.permission);

            //check if the user changed the location permission from the browser
            navigator.permissions.query({ name: 'geolocation' }).then(function (result) {
                if (result.state == 'prompt' || result.state == 'denied') localStorage.setItem('locationPermission', 'denied');
                else if (localStorage.getItem('locationPermission') == null) localStorage.setItem('locationPermission', result.state);
            });
        }

        //function to display settings by setting the elements
        function displaySettings() {
            //display notifications permission
            localStorage.getItem('notificationsPermission') == 'granted' ? document.getElementById("notifications").checked = true : document.getElementById("notifications").checked = false;

            //display location permission
            localStorage.getItem('locationPermission') == 'granted' ? document.getElementById("location").checked = true : document.getElementById("location").checked = false;
        }

        //if notifications toggle switch was clicked
        document.getElementById("notifications").addEventListener('change', function () {
            if (this.checked) { //notifications permission was turned on
                switch (Notification.permission) { //check the browser's notifications permission
                    case "denied": //user blocked notifications permission from web browser, prevent changes and display message
                        document.getElementById("notifications").checked = false; //save changes
                        localStorage.setItem('notificationsPermission', 'denied');
                        alert("Notifications permission blocked. Please enable them in your browser."); //alert user that permissions are blocked
                        break;
                    case "default": //if permissions are still default, browser will ask user for permission
                        Notification.requestPermission().then(function (permission) {
                            // If the user accepts, let's create a notification
                            if (permission === "granted") {
                                var notification = new Notification("Hi there!");
                            }
                        });
                    case "granted": //if permissions are granted
                        localStorage.setItem('notificationsPermission', 'granted'); //save changes
                }
            } else { //notifications permission was turned off
                localStorage.setItem('notificationsPermission', 'denied'); //save changes
            }
        });

        //if location toggle switch was clicked
        document.getElementById("location").addEventListener('change', function () {
            if (this.checked) { //location permission was turned on
                navigator.geolocation.getCurrentPosition(async position => { //check if location permission is turned on in the web browser, if yes save changes
                    localStorage.setItem('locationPermission', 'granted'); //save changes
                }, function () { //user blocked location permission from web browser, prevent changes and display message
                    document.getElementById("location").checked = false;
                    localStorage.setItem('locationPermission', 'denied'); //save changes
                    alert("Location permission blocked. Please enable them in your browser."); //alert user that permissions are blocked
                });
            } else { //location permission was turned off
                localStorage.setItem('locationPermission', 'denied'); //save changes
            }
        });

        //if delete account button was clicked
        document.getElementById("deleteAccount").addEventListener('click', function () {
            var userId = firebase.auth().currentUser.uid; //current user ID
            var response = confirm("permanently delete account?");
            if (response) deleteUser(userId); //function to delete account
        });

        async function deleteUser(userId) {
            //semd user ID to server to delete the user
            const sdata = { userId };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sdata)
            };
            const response = await fetch('/deleteUser', options);
            const json = await response.json();

            //delete localStorage
            localStorage.removeItem('notificationsPermission');
            localStorage.removeItem('locationPermission');
            window.location.assign('../mainpage'); //forward user to the welcome page
        }
    </script>
</body>