/*
    Colors:
    - Blue: #5bbfc5       (used for: buttons, etc.)
    - Light blue: #99d9d8 (used for: inactive buttons, backgrounds, etc.)
    - Red: #f23c3c        (used for: logout, decline, etc.)
    - Light red: #f08066  (used for: busy status, etc.)
    - Yellow: #f2de70
*/

* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI';
    overflow:hidden;
}

body {
    overflow: hidden; /* No scrolling*/
}

i {
    padding-right: 5px;
    padding-left: 5px;
    color: darkgray;
}

a {
    text-decoration: none;
}

h3 {
    font-size:22px;
}

.link {
    font-weight: bold;
    font-size: 15px;
    color: #4294a2;
}

.noInformation {
    margin: auto;
    margin-top: 60%;
    width: max-content;
    font-size: 14px;
    color: #777;
}

.background { /*for pages with a background*/
    background: #99d9d8;
}

/*dim background*/
.dimContent {
    z-index: -50;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0;
}

.dimVisible { /*make dim background visible*/
    z-index: 50;
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
}



/*elements at the top of the page*/
.pageName { /*page title*/
    margin: 12px 0 30px 0;
    width: auto;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.back {
    position: absolute;
    left: 0px;
    width: auto;
    margin: 16px 0 0 12px;
    font-size: 17px;
    font-weight: 600;
    color: black;
}

.next {
    position: absolute;
    right: 0px;
    width: auto;
    margin: 16px 12px 0 0;
    font-size: 17px;
    font-weight: 600;
    color: #5bbfc5;
    text-align: right;
}

.disabled { /*text of disabled buttons*/
    color: #aaa;
}





.logout { /*logout and red-text buttons*/
    color: #f23c3c;
    font-weight: bold;
    font-size: 15px;
    margin: 20px 0 0 35px;
   
}

/*Main menu elements*/
.mainMenu {
    z-index: 10;
    position: absolute;
    width: max-content;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 40px;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

    .mainMenu table {
        text-align: center;
        font-size: 15px;
    }

.circle {
    height: 55px;
    width: 55px;
    margin-bottom: 10px;
    margin: 20px 25px 0 25px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #99d9d8;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

.active {
    background-color: #5bbfc5;
}




/*status menu*/
.statusMenu {
    display: none;
    z-index: 100;
    width: 180px;
    height: 100px;
    line-height: 40px;
    margin: auto;
    background: white;
    border-radius: 30px;
    padding: 15px 15px 20px 15px;
    position: absolute;
    overflow: visible;
    left: 4%;
    bottom: 23%;
    font-size: 16px;
    text-align: left;
}

    .statusMenu a {
        display: block;
    }

.tail::before {
    content: "";
    width: 0px;
    height: 0px;
    position: absolute;
    border-left: 15px solid transparent;
    border-right: 15px solid white;
    border-top: 15px solid white;
    border-bottom: 15px solid transparent;
    left: 17%;
    bottom: -25px;
}

.statusCircle {
    height: 30px;
    width: 30px;
    margin: 10px;
    background-color: #99d9d8;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 0;
    padding-top: 3px;
}






/*window prompt elements*/
.windowPrompt {
    display: none;
    z-index: 100;
    position: absolute;
    margin: auto;
    width: 60%;
    height: auto;
    background-color: #fff;
    left: 50%;
    transform: translate(-50%, 0%);
    top: 30%;
    padding: 25px 20px 60px 20px;
    border-radius: 20px;
}

    .windowPrompt p {
        padding-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }

    .windowPrompt select {
        height: 35px;
        border: 0px;
        border-bottom: 1px solid #888;
        background-color: white;
        color: #444;
    }

    .windowPrompt input, select {
        display: block;
        width: 80%;
        line-height: 25px;
        margin: 5px auto 30px auto;
        border: 1px solid #b5b5b5;
        color: #444;
        padding-left: 10px;
    }

    .windowPrompt button {
        position: absolute;
        right: 0;
        width: 70px;
        padding: 3px 10px 3px 10px;
        margin: 5px 15px 12px 15px;
        color: #5bbfc5;
        font-weight: bold;
        font-size: 15px;
        text-align: center;
        background-color: transparent;
        border: none;
    }

    .windowPrompt .cancel {
        left: 0;
        font-weight: normal;
        color: #888;
    }

    .windowPrompt .close {
        margin: 5px;
        right: 27%;
        color: #f08066;
    }

    .windowPrompt small {
        color: red;
        text-align: center;
        display: block;
        font-size: 12px;
    }

    .windowPrompt .info {
        font-size: 12px;
    }