body {
    text-align: center;
}

table {
    width: 88%;
    text-align: left;
    margin: auto;
    padding: 10px 0;
    font-size: 15px;
}

tr {
    line-height: 35px;
}

small {
    font-size: 14px;
}

h8 {
    font-size: 17px;
    font-weight: 500;
    line-height: 30px;
    padding-left: 14px;
}

h2 {
    font-size:18px;
    font-weight:600;
}

button {
    padding: 10px;
    border-radius: 50px;
    border: none;
    width: 95px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
}

.rectangle {
    height: 75px;
    width: 280px;
    margin: 35px auto 0 auto;
    background-color: #5bbfc5;
    font-size: 21px;
    font-weight: bold;
    color: #FFF;
}

.disabled {
    background: #0000001f;
    color: #999;
    font-weight: 600;
}


.request {
    z-index: 100;
    position: fixed;
    margin: auto;
    width: 100%;
    height: 0;
    background-color: #fff;
    border-radius: 40px 40px 0 0;
    bottom: 0;
    transition: height 0.5s ease;
    display: none;
}

    .request p {
        padding-bottom: 10px;
        font-size: 15px;
        text-align: center;
    }

    .request select {
        height: 35px;
        border: 0px;
        border-bottom: 1px solid #888;
        background-color: white;
        color: #444;
    }

    .request input, select {
        display: block;
        width: 80%;
        line-height: 25px;
        margin: 5px auto 30px auto;
        border: 1px solid #b5b5b5;
        color: #444;
        padding-left: 10px;
    }

    .request button {
        position: absolute;
        right: 0;
        width: 70px;
        padding: 3px 10px 3px 10px;
        margin: 5px 15px 12px 15px;
        color: #5bbfc5;
        font-weight: bold;
        font-size: 16px;
        text-align: center;
        background-color: transparent;
        border: none;
    }

    .request .cancel {
        left: 0;
        font-weight: normal;
        color: #888;
    }

    .request .close {
        margin: 5px;
        right: 27%;
        color: #f08066;
    }

    .request small {
        color: red;
        text-align: center;
        display: block;
        font-size: 12px;
    }

.mapView {
    z-index: 100;
    position: fixed;
    margin: auto;
    width: 100%;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.map {
    height: 175px;
    width: 100%;
}