* {
    font-family: 'Segoe UI';
}

body {
    overflow: hidden;
    background-image: url("../img/clouds.png");
}

table {
    width:100%;
}

.logo {
    height: 100%;
    width: 100%;
    margin-top: 520px;
}


.title {
    width: 100%;
    margin: 40px auto 0px auto;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-align: center;
}

.titleCon {
    width: 100%;
    margin: 0px 40px 40px 40px;
    font-size: 40px;
    font-weight: 900;
    line-height: 45px;
    text-align: center;
}

.vehicle-to-vehicle-charging {
    color: #DBC267;
    width: 100%;
    margin: 30px auto 40px auto;
    font-size: 50px;
    font-weight: bold;
    line-height: 45px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    position: absolute;
    left: 10%;
    top: 5%;
    width: 80%;
    height: 60%;
}

.button {
    box-sizing: border-box;
    height: 70px;
    width: 300px;
    border-radius: 18px;
    background-color: #6dbec3;
    border: 1px solid #6dbec3;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
    color: #FFF;
}


.already-have-an-account-log-in {
    height: 23px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
}



a {
    text-decoration: none;
    color: #6dbec3;
    font-size: 1.2rem;
}

