small {
    background: white;
    color: red;
}

h2 {
    margin-bottom: 20px;
}

h6 {
    margin-bottom: 50px;
    color: #c1c1c1
}



.rectangle-1 {
    box-sizing: border-box;
    height: 54px;
    width: 222px;
    border-radius: 8px;
    background-color: #A0D8DC;
    height: 40px;
    width: 196px;
    color: #FFF;
    font-family: "Lucida Console";
    font-size: 20px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
}


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.container {
    position: absolute;
    bottom: 15%;
    left: 10%;
    width: 80%;
    height: 70%;
    background: white;
}


fieldset, .feedbackContainer {
    border: rgb(192,192,192,0.1) 1px solid;
    height: 500px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12)
}

.signUp-container fieldset {
    height: 450px
}

.phone-container fieldset {
    height: 550px
}

.shown-container {
    display: block
}

.hidden-container {
    display: none
}

input[type = "text"],
input[type = "password"],
input[type = "tel"],
input[type = "email"] {
    width: 200px;
    margin-top: 8px;
    padding: 2px 6px;
    border: none;
    background-color: #f7f7f7;
    height: 40px;
    outline-color: #A0D8DC;
    border-radius: 10px;
    font-size: 1rem;
    margin: 20px 40px;
    position: relative;
}

button:first-of-type, button {
    float: right;
    margin: 20px 4px 0px 0px;
    border: 1px solid #6dbec3;
}

button {
    background-color: white;
    color: #2196f3
}

    button:first-of-type {
        float: right;
        background-color: #6dbec3;
        color: white
    }

a {
    float: right;
    margin: 90px 4px 0px 0px;
    text-decoration: none;
    color: #6dbec3;
    font-size: 0.8rem;
}

    a:hover {
        text-decoration: underline
    }

button:hover {
    background-color: #afe3e2a8;
    color: white;
    cursor: pointer
}

button {
    margin-right: 5px
}

.clearfix {
    clear: both
}



.mail-container img,
.phone-container img {
    width: 100px;
    height: 100px;
    margin: auto;
    display: block
}

.fields {
    width: 10%;
}

.mail-container div:first-of-type,
.phone-container div:first-of-type {
    width: 340px;
    margin: 40px 40px
}

#recaptcha-container, #recaptcha-container div {
    margin: 10px 0px 0px 0px
}

#recaptcha-container {
    float: right
}

label {
    position: absolute;
    top: 56%;
    left: 6px;
    color: #505050
}

.focused-field {
    animation-name: gainFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes gainFocus {
    0% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }

    100% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }
}

.unfocused-field {
    animation-name: loseFocus;
    animation-fill-mode: forwards;
    animation-duration: 0.15s;
    animation-timing-function: ease-out
}

@keyframes loseFocus {
    0% {
        top: 0%;
        left: 0px;
        color: #2196f3;
        font-size: 0.9rem
    }

    100% {
        top: 56%;
        left: 6px;
        color: #505050;
        font-size: 1rem
    }
}

.initial-focused-field {
    top: 0%;
    left: 0px;
    color: #2196f3;
    font-size: 0.9rem
}

.initial-unfocused-field {
    top: 56%;
    left: 6px;
    color: #505050;
    font-size: 1rem
}

.socialMedia-container button {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    margin: 10px 40px;
    border: none;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.12);
    font-size: 1rem;
    color: #2196f3
}

    .socialMedia-container button:hover {
        background-color: #f7f7f7;
        box-shadow: 1px 0px 7px 0px rgba(0,0,0,0.15)
    }

.feedbackContainer {
    height: 300px;
    width: 300px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    display: none
}

.feedbackIcon {
    width: 70px;
    height: 70px;
    margin-bottom: 20px;
}

.failure .feedbackIcon {
    background-image: url('../img/failure.svg');
}
