<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./style/common.css">
    <link rel="stylesheet" href="./style/home.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css"0 type="text/css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.5.0/build/ol.js"></script>
</head>
<body>
    <!-- HTML elements -->
    <div id="loading" class="loading">
        <img src="./img/loading.gif" style="height:65px;" />
    </div>

    <div id="content" class="hidden">
        <section>
            <div class="pageName">Home</div>
            <div id="buttons" style="display:none;">

                <div id="currentCar" style="text-align: left;">
                    <h8>Current Car</h8>
                    <div style="border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f7f7f7f7; padding: 18px 25px; margin-top: 10px;">
                        <p id="currentCarInfo" style=" font-size: 15px; line-height: 26px;"></p>
                        <p id="edit" class="link" style="display:none; text-align: right; padding-right: 15px; font-size: 14px;">change car</p>
                        <div id="noCar" style="display:none;">
                            <p> You don't have any registered cars</p>
                            <div style="text-align: right; padding: 12px;"><a href="./registerCar" class="link">Register a Car </a></div>
                        </div>
                    </div>
                </div>

                <button class="rectangle" id="newRequest">Request Charge</button>
                <button class="rectangle disabled" id="avaReq">No Available Requests</button>
            </div>


            <div id="activeRequest" style="display:none; text-align: left;">
                <h8>Active Request</h8>
                <div id="request" style=" border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; background: #f7f7f7f7; text-align:left; margin-top: 10px;">
                    <table>
                        <tr id="textTr">
                            <td id="textTd" colspan="3" style="text-align: center; font-weight: bold;"></td>
                        </tr>
                        <tr id="locationTr" style="display:none;">
                            <td id="locationTd" style="color:#5bbfc5;line-height: 55px;" colspan="3"><b>View meet-up location</b> <i class="fas fa-map-marker-alt" style="color:#5bbfc5;"></i></td>
                        </tr>
                        <tr id="amountTr">
                            <td colspan="2" style="width: 65%">Requested charge amount</td>
                            <td id="amountTd" style="text-align:right;"></td>
                        </tr>
                        <tr id="priceTr" style="display:none;">
                            <td colspan="2">Estimated price</td>
                            <td id="priceTd" style="text-align:right"></td>
                        </tr>
                        <tr id="carTr" style="display:none;">
                            <td style="vertical-align:top; width:30%;">Driver's car</td>
                            <td id="carTd" colspan="2" style="text-align:right;"></td>
                        </tr>
                    </table>

                    <div style=" width: 75%; margin: 30px auto 20px auto;" id="reqButtons">
                        <button id="cancel" style="display:none; float: left; color: #777; background: lightgray;">Cancel</button>
                        <button id="accept" style="display:none;float: right; background: #5bbfc5; color: white;">Accept</button>
                        <button id="done" style="display:none;float: right; background: #5bbfc5; color: white;">Done</button>
                    </div>

                    <div id="payment" style="display:none; text-align:center; width: 80%; margin: 10px auto 20px auto;">
                        <button id="pay" style="width: 85px; color: #777; background: lightgray;">Pay</button>
                        <p style="line-height: 35px;">Or</p>
                        <button id="payTest" style="background: #5bbfc5; color: white; width: 80%; height: max-content;">Continue without paying<br />(for testing purposes)</button>
                    </div>
                </div>
            </div>

        </section>

        <div id="location" style="display:none;">
            <div id="dimScreenMap" class="dimContent dimVisible"></div>
            <div class="mapView" style="display:block; z-index:50;">
                <div id="locationMap" class="map" style="display:block; height: 385px; border-top: 1.5px solid black; border-bottom: 1.5px solid black; "></div>
            </div>
        </div>

        <div id="windowPromptAvaReq" class="request">
            <br /><br />
            <p id="avaReqText"></p>
            <div id="map" class="map" style="display:block;"></div>
            <br />
            <label>Paypal Email</label>

            <div>
                <select id="paymentSelect" style="display:none;">
                    <option>Select a Payment Method</option>
                </select>
            </div>
            <div id="noPayment" style=" display: none; font-size: 14px; text-align: right;">
                <small id="emailAlert"></small>
                <input type="text" id="paymentInput" style="width: 60%; display: inline; margin: 0 0 0 7px;"><br />
                <input type="checkbox" id="saveCard" style="width: auto; display: inline; margin: 8px 0px 30px auto;">
                <label for="saveCard"> Save card</label>
            </div>
            <button id="closeAvaReq" class="cancel">Ignore</button>
            <button id="avaReqDecline" class="close">Decline</button>
            <button id="avaReqAccept">Accept</button>
        </div>

        <div id="messagePrompt" class="windowPrompt" style="display:none;">
            <p id="messageText"></p>
            <button onclick="closeMessage()">ok</button>
        </div>


        <div id="dimScreen" class="dimContent"></div>
    </div>
    <!-- Page ends here -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

    <script src="./js/firebase-config.js"></script> <!-- Firebase configuration -->
    <script src="./js/mainmenu.js"></script> <!-- Appends the mainmenu and deals with status changes -->
    <script src="./js/common.js"></script> <!-- Has functions used by multiple pages -->
    <script src="./js/home.js"></script>
</body>
</html>


    
