<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>V2V Charging</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./style/mainpage.css">
</head>
<body>
    <!-- HTML elements -->
    <section class="container">
        <p class="title">

            Your

        </p>
        <p class="vehicle-to-vehicle-charging">
            Vehicle to Vehicle Charging
        </p>
        <p class="titleCon">Experience Starts Here !</p>
        <form action="/signup.html">
            <input class="button" type="button" id="signup" value="Get Started !">
        </form>

        <table>
            <tr>
                <td>
                    <p class="already-have-an-account-log-in">
                        Already Have an Account?
                    </p>
                </td>
                <td>
                    <a href="../signin" id="signin"> Sign In</a>
                </td>

            </tr>
        </table>
    </section>
    
    <img class="logo" src="./img/logo.png">

    <!-- Page ends here -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

    <!-- Firebase configuration -->
    <script src="./js/firebase-config.js"></script>
    <script>

        document.getElementById("signup").addEventListener("click", function () {
            window.location.replace('../signup');
        });


        //check if user is already signed in
        firebase.auth().onAuthStateChanged(async function (user) {
            if (user) window.location.assign('./carSelect'); //if user is already signed in
        });

    </script>




</body>
</html>