<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style/common.css">
    <link rel="stylesheet" href="./style/profile.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- HTML elements -->
    <section>
        <div class="pageName">HOME</div>
        <div class="currentCar" id="currentCar">
            <label><b id="currentCarInfo"></b></label>
            <i class="fa fa-pencil-square-o link" style="font-size:20px; text-align: right; padding: 10px; display:none;" id="edit"></i>
            <div id="noCar" style="display:none;">
                <p> You don't have any registered cars</p>
                <div style="text-align: right; padding: 12px;"><a href="./registerCar" class="link">Register a Car </a></div>
            </div>
        </div>

        <div id="buttons" style="display:none;">
            <button class="rectangle" id="newRequest">Request Charge</button>
            <button class="rectangle disabled" id="avaReq">No Available Requests</button>
        </div>

        <div id="activeRequest">
            <div id="request" style="display:none;">
                <h2>Active Request</h2><br />
                <p id="requestText"></p><br />
                <input type="text" id="paypal" value="" style="display:none;">
                <button id="cancel" style="display:none;"><b>Cancel</b></button>
                <button id="accept" style="display:none;"><b>Accept Request</b></button>
            </div>

            <div id="payment" style="display:none;">
                <p id="paymentText"></p>
                <button id="pay"><b>pay</b></button>
            </div>
        </div>
    </section>


    <div id="windowPromptAvaReq" class="request">
        <br /><br />
        <p id="avaReqText"></p><br />

        <select id="paymentSelect" style="display:none;">
            <option>Select a Payment Method</option>
        </select>

        <div id="noPayment" style=" display: none; font-size: 14px; text-align: right;">
            <small id="emailAlert"></small>
            <label for="paymentInput">Paypal Email </label>
            <input type="text" id="paymentInput" style="width: 60%; display: inline; margin: 0 0 0 7px;"><br />
            <input type="checkbox" id="saveCard" style="width: auto; display: inline; margin: 8px 0px 30px auto;">
            <label for="saveCard"> Save card</label>
        </div>
        <button id="closeAvaReq" class="cancel">Ignore</button>
        <button id="avaReqDecline" class="close">Decline</button>
        <button id="avaReqAccept">Accept</button>
    </div>


    <div class="mainMenu">
        <table>
            <tr>
                <td><button class="circle" id="status" onclick="openStatusMenu()"></button></td>
                <td><button class="circle active" id="home"><img src="./img/home.png" height="30"></button></td>
                <td><button class="circle" id="account"><img src="./img/account.png" height="30"></button></td>
            </tr>
            <tr>
                <td><small>STATUS</small></td>
                <td><small><b>HOME</b></small></td>
                <td><small>ACCOUNT</small></td>
            </tr>
        </table>
    </div>


    <div id="statusMenu" class="statusMenu tail">
        <a onclick="setStatus('Available')"><button class="statusCircle"><img src="./img/status-available.png" height="15px"></button>Available</a>
        <hr />
        <a onclick="setStatus('Do Not Disturb')"><button class="statusCircle" style="background-color:#f08066;"><img src="./img/status-busy.png" height="15px"></button>Busy</a>
    </div>

    <div id="dimContent" class="dimContent" onclick="closeStatusMenu()"></div>
    <!-- Page ends here -->





    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

    <!-- Firebase configuration -->
    <script src="./js/firebase-config.js"></script>






    <script src="./js/status.js"></script>
    <script src="./js/profile.js"></script>

</body>
</html>


    
