<!DOCTYPE html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings</title>
    <link rel="icon" href="./img/favicon.png" />
    <link rel="stylesheet" href="./style/common.css">
    <link rel="stylesheet" href="./style/settings.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
</head>
<body>
    <!-- HTML elements -->
    <div id="loading" class="loading">
        <img src="./img/loading.gif" style="height:65px;" />
    </div>

    <div id="content" class="hidden">
        <a href="../account" class="back">
            <i class="fa fa-angle-left" style="color:black;"></i>
            <small style="vertical-align:top; padding-top:5px;"> Back</small>
        </a>
        <div class="pageName">Settings</div>

        <div class="settingsMenu">
            <table>
                <tr>
                    <td style="width:100%;">Notifications</td>
                    <td><label class="switch"><input type="checkbox" id="notifications"><span class="slider"></span></label></td>
                </tr>
            </table>
            <hr />
            <table>
                <tr>
                    <td style="width:100%;">Location Access</td>
                    <td><label class="switch"><input type="checkbox" id="location"><span class="slider"></span></label></td>
                </tr>
            </table>
            <hr />
            <br /><br /><br />
            <button id="deleteAccount" class="logout">Delete Account</button>
        </div>
        <div id="dimScreen" class="dimContent"></div>

    </div>
    <!-- Page ends here -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

    <script src="./js/firebase-config.js"></script> <!-- Firebase configuration -->
    <script src="./js/mainmenu.js"></script> <!-- Append the mainmenu and deals with status changes -->
    <script src="./js/common.js"></script> <!-- Has functions used by multiple pages -->

    <script>
        // JavaScript source code
        firebase.auth().onAuthStateChanged(async function (user) {
            if (user) { //if user is authenticated
                updateSettings(); //check if user changed the browser's settings
                displaySettings(); //display settings
                showPage(); //content is fully loaded, show page content
            } else window.location.assign('../mainpage'); //forward user to the welcome page
        });

        //function to check if user changed the browser's settings
        function updateSettings() {
            //check if the user changed the notifications permission from the browser
            if (Notification.permission === 'denied' || Notification.permission === 'default') localStorage.setItem('notificationsPermission', 'denied');
            else if (localStorage.getItem('notificationsPermission') == null) localStorage.setItem('notificationsPermission', Notification.permission);

            //check if the user changed the location permission from the browser
            navigator.permissions.query({ name: 'geolocation' }).then(function (result) {
                if (result.state == 'prompt' || result.state == 'denied') localStorage.setItem('locationPermission', 'denied');
                else if (localStorage.getItem('locationPermission') == null) localStorage.setItem('locationPermission', result.state);
            });
        }

        //function to display settings by setting the elements
        function displaySettings() {
            showStatus();
            //display notifications permission
            localStorage.getItem('notificationsPermission') == 'granted' ? document.getElementById("notifications").checked = true : document.getElementById("notifications").checked = false;

            //display location permission
            localStorage.getItem('locationPermission') == 'granted' ? document.getElementById("location").checked = true : document.getElementById("location").checked = false;
        }

        //if notifications toggle switch was clicked
        document.getElementById("notifications").addEventListener('change', function () {
            if (this.checked) { //notifications permission was turned on
                switch (Notification.permission) { //check the browser's notifications permission
                    case "denied": //user blocked notifications permission from web browser, prevent changes and display message
                        document.getElementById("notifications").checked = false; //save changes
                        localStorage.setItem('notificationsPermission', 'denied');
                        popUp("<b>Notifications permission blocked.</b><br><br>Please enable notifications permission from your browser's settings."); //alert user that permissions are blocked
                        break;
                    case "default": //if permissions are still default, browser will ask user for permission
                        Notification.requestPermission().then(function (permission) {
                            // If the user accepts, let's create a notification
                            if (permission === "granted") {
                                var notification = new Notification("Hi there!");
                            }
                        });
                    case "granted": //if permissions are granted
                        localStorage.setItem('notificationsPermission', 'granted'); //save changes
                }
            } else { //notifications permission was turned off
                localStorage.setItem('notificationsPermission', 'denied'); //save changes
            }
        });

        //if location toggle switch was clicked
        document.getElementById("location").addEventListener('change', function () {
            if (this.checked) { //location permission was turned on
                navigator.geolocation.getCurrentPosition(async position => { //check if location permission is turned on in the web browser, if yes save changes
                    localStorage.setItem('locationPermission', 'granted'); //save changes
                }, function () { //user blocked location permission from web browser, prevent changes and display message
                    document.getElementById("location").checked = false;
                    localStorage.setItem('locationPermission', 'denied'); //save changes
                    popUp("<b>Location access blocked.</b><br><br>Please enable location access from your browser's settings."); //alert user that permissions are blocked
                });
            } else { //location permission was turned off
                localStorage.setItem('locationPermission', 'denied'); //save changes
            }
        });

        //if delete account button was clicked
        document.getElementById("deleteAccount").addEventListener('click', function () {
            var userId = firebase.auth().currentUser.uid; //current user ID
            var response = confirm("permanently delete account?");
            if (response) deleteUser(userId); //function to delete account
        });

        async function deleteUser(userId) {
            //semd user ID to server to delete the user
            const sdata = { userId };
            const options = {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(sdata)
            };
            const response = await fetch('/deleteUser', options);
            const json = await response.json();

            //delete localStorage
            localStorage.removeItem('notificationsPermission');
            localStorage.removeItem('locationPermission');
            window.location.assign('../mainpage'); //forward user to the welcome page
        }
    </script>
</body>