<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./style/common.css">
    <link rel="stylesheet" href="./style/signup.css">
    <script src="https://kit.fontawesome.com/c0551ed7d9.js" crossorigin="anonymous"></script>
    <style>
        small {
            background: white;
            color: red;
            text-align: center;
        }

        h6, a {
            background: white;
        }
    </style>
</head>
<body class="background">
    <!-- HTML elements -->

    <section class="container">
        <h2>Welcome to V2V Charging!</h2>
        <h6 class="welcome"> Please fill all the required details</h6>
        <small id="alert"></small>
        <div style="text-align:left;">
            <input type="text" id="displayName" name="name" placeholder="Name" />
            <input type="email" id="emailaddress" name="mail" placeholder="Email Address" required />
            <div style="margin:0;">
                <input type="password" id="password" name="password" placeholder="Password" style="margin-right: 0;" required />
                <i class="fas fa-eye" style="color: #5bbfc5; display:none; position: absolute; margin: 22px 0px 0 -37px; padding: 7px;" id="eye"></i>
                <i class="fas fa-eye-slash" style="color: #5bbfc5; display:none; position: absolute; margin: 22px 0px 0 -37px; padding: 7px;" id="eyeSlash"></i>
            </div>
        </div>
        <button class="rectangle-1" id="signup">Signup</button>
        <h6> Already have an account? <a href="./signin"> sign in </a></h6>
    </section>
    <div id="PopUp" class="windowPrompt">
        <p>Signed Up successfully!</p>
        <div>
            <small style="color:#5bbfc5;">You will be directed to register your car</small>
        </div>
    </div>
    <div id="dimContent" class="dimContent" onclick="closeStatusMenu()"></div>
    <!-- Page ends here -->
    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

    <!-- Firebase configuration -->
    <script src="./js/firebase-config.js"></script>
    <script src="./js/signup.js"></script>
</body>
</html>