<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Signup</title>
    <link rel="shortcut icon" href="favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="./style/common.css">
    <link rel="stylesheet" href="./style/signup.css">
    <style>
        small {
            background: white;
            color: red;
            text-align: center;
        }

        h6, a {
            background: white;
        }
    </style>
</head>
<body class="background">
    <!-- HTML elements -->
    <section class="container">
        <small id="alert"></small>
        <input type="text" id="displayName" name="name" placeholder="Name" />
        <input type="email" id="emailaddress" name="mail" placeholder="Email Address" required />
        <input type="password" id="password" name="password" placeholder="Password" required /><br>

        <button class="rectangle-1" id="signup">Signup</button>
        <h6> Already have an account? <a href="./signin"> sign in </a></h6>
    </section>
    <!-- Page ends here -->





    <!-- The core Firebase JS SDK is always required and must be listed first -->
    <!-- Insert these scripts at the bottom of the HTML, but before you use any Firebase services -->
    <!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>

    <!-- If you enabled Analytics in your project, add the Firebase SDK for Analytics -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-analytics.js"></script>

    <!-- Add Firebase products that you want to use -->
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-firestore.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-database.js"></script>

    <!-- Firebase configuration -->
    <script src="./js/firebase-config.js"></script>





    <script src="./js/signup.js"></script>
</body>
</html>